{deps, [
        {n2o, ".*", {git, "git://github.com/5HT/n2o", {tag, "master"}}},
        {ebqueue, ".*", {git, "git://github.com/rgrinberg/ebqueue",  {tag, "master"} }}
       ]}.

{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.
